.about {
  padding-top: 80px;
  padding-bottom: 0px;

  @include tablet {
    padding-top: 40px;
  }

  &__svg1 {
    position: absolute;
    transform: translate(-390px, -195px);
    fill: linear-gradient(
      127deg,
      rgba(27, 95, 193, 0.08) 0%,
      rgba(27, 95, 193, 0.04) 100%
    );

    @include tablet {
      display: none;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 47px;
  }

  &__tittle {
    margin-bottom: 26px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 104%;
    color: var(--dark);

    @include tablet {
      font-size: 32px;
    }
  }
  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: var(--grey);
  }
  &__span {
    font-weight: 700;
  }
  &__first-box {
    margin-bottom: 80px;

    @include tablet {
      margin-bottom: 40px;
    }
  }
  &__text-box {
    max-width: 523px;

    @include tablet {
      max-width: 708px;
    }
    @include mobile {
      max-width: 335px;
    }
  }

  &__svg2 {
    z-index: -5;
    position: absolute;
    transform: translate(770px, -620px);
    fill: linear-gradient(
      307deg,
      rgba(40, 189, 134, 0.08) 0%,
      rgba(40, 189, 134, 0.04) 100%
    );

    @include tablet {
      display: none;
    }
  }
  // &__img {
  //   width: 570px;
  //   height: 616px;

  //   @include tablet {
  //     display: none;
  //   }
  // }
  &__img2 {
    @include tablet {
      display: none;
    }
  }
}
