@use "../../scss/mixins/breakpoint";

.about {
  position: relative;
  padding-top: 80px;
  padding-bottom: 0;

  @include breakpoint.tablet {
    padding-top: 40px;
  }

  &__svg1 {
    position: absolute;
    fill: linear-gradient(
      127deg,
      rgba(27, 95, 193, 0.08) 0%,
      rgba(27, 95, 193, 0.04) 100%
    );
    // transform: translate(0px, -195px);
    top: -195px;
    left: 0;
    @include breakpoint.tablet {
      display: none;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 47px;
  }

  &__tittle {
    margin-bottom: 26px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 104%;
    color: var(--dark);

    @include breakpoint.tablet {
      font-size: 32px;
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: var(--grey);
  }

  &__span {
    font-weight: 700;
  }

  &__first-box {
    margin-bottom: 80px;

    @include breakpoint.tablet {
      margin-bottom: 40px;
    }
  }

  &__text-box {
    max-width: 523px;

    @include breakpoint.tablet {
      max-width: 708px;
    }

    @include breakpoint.mobile {
      max-width: 335px;
    }
  }

  &__svg2 {
    position: absolute;
    z-index: -5;
    fill: linear-gradient(
      307deg,
      rgba(40, 189, 134, 0.08) 0%,
      rgba(40, 189, 134, 0.04) 100%
    );
    // transform: translate(770px, 0px);
    right: 0;
    top: 770px;
    @include breakpoint.tablet {
      display: none;
    }
  }

  &__img2 {
    z-index: 5;
    @include breakpoint.tablet {
      display: none;
    }
  }
}
