.advan {
  padding: 72px 0 53px 0;
  background: #f7fdfb;

  &__box-svg {
    margin-top: 6px;
    margin-right: 20px;
  }

  &__list {
    display: flex;
    gap: 31px;
  }
  &__item {
    display: flex;
    min-width: 260px;
  }
  &__tittle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: var(--dark);
    margin-bottom: 15px;
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 147%;
    color: var(--grey);
  }
}
