.burger {
  position: relative;
  border: 3px solid #1b5fc1;
  border-radius: 10px;
  width: 47px;
  height: 47px;
  cursor: pointer;

  &__line {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 100px;
    width: 28px;
    height: 3px;
    background-color: #1b5fc1;
    transform: translateX(-50%) translateY(-50%);

    &:first-child {
      margin-top: -7px;
    }
    &:last-child {
      margin-top: 7px;
    }
  }
  @include mobile-2 {
    display: none;
  }
}
// .burger-close {
//   position: absolute;
//   right: 15px;
//   top: 30px;
//   border: 1px solid rgba(255, 255, 255, 0.08);
//   border-radius: 10px;
//   width: 44px;
//   height: 44px;
//   background-image: url("../../img/svg/sptite.svg#mob-menu-close");
//   background-position: center;
//   background-size: 14px 12px;
//   background-repeat: no-repeat;
// }
