@use "../../scss/mixins/breakpoint";

.certif {
  padding: 392px 0 80px 0;
  background-color: #f7fdfb;

  @include breakpoint.tablet {
    padding: 800px 0 80px 0;
  }
  @include breakpoint.mobile {
    padding: 1000px 0 80px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    @include breakpoint.tablet {
      justify-content: space-between;
    }
    @include breakpoint.mobile {
      flex-direction: column;
    }
  }

  &__text-box {
    display: flex;
    align-items: center;
  }
  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--grey);
    margin-right: 16px;

    @include breakpoint.mobile {
      font-weight: 700;
      font-size: 20px;
    }
  }

  &__line {
    width: 147px;
    border: 1px solid var(--accent);
    margin-right: 87px;

    @include breakpoint.tablet {
      width: 80px;
      margin: 0;
    }
    @include breakpoint.mobile {
      margin: 0;
    }
  }
  &__img-box {
    display: flex;
    gap: 100px;

    @include breakpoint.tablet {
      gap: 45px;
    }
    @include breakpoint.mobile {
      gap: 15px;
      margin-top: 20px;
    }
  }
}
