@use "../../scss/mixins/breakpoint";

.contact {
  background: var(--accent);
  padding: 41px 0 39px 0;

  &__block {
    display: flex;
    justify-content: space-between;

    @include breakpoint.mobile {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__box {
    display: flex;
    align-items: center;
  }
  &__img {
    margin-right: 14px;
  }
  &__name-1 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--dark);
  }
  &__name-2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    color: var(--dark);
  }
  &__line {
    border: 1px solid white;
  }
}
