// .hero {
//   min-height: 900px;
//   background-color: #f7fdfb;
// }

// .hero-content {
//   width: 555px;
//   height: 430px;
//   padding-top: 304px;
// }
// .hero-name {
//   font-family: var(--second-family);
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 214%;
//   color: var(--accent);
// }
// .hero-tittle {
//   font-family: var(--second-family);
//   font-weight: 700;
//   font-size: 72px;
//   line-height: 114%;
//   color: var(--dark);
// }
// .hero-text {
//   font-family: var(--font-family);
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 150%;
//   color: var(--grey);
// }
// .hero-link {
//   font-family: var(--second-family);
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 214%;
//   text-align: center;
//   color: #fff;
// }
// .hero-btn {
//   border-radius: 8px;
//   padding: 8px 24px;
//   width: 115px;
//   height: 46px;
//   box-shadow: 0 10px 15px 0 rgba(27, 95, 193, 0.19);
//   background: var(--blue);
// }
.hero {
  min-height: 900px;
  background-color: #f7fdfb;

  &__content {
    width: 555px;
    height: 430px;
    padding-top: 304px;
  }

  &__name {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 214%;
    color: var(--accent);
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 72px;
    line-height: 114%;
    color: var(--dark);
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--grey);
  }

  &__link {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 214%;
    text-align: center;
    color: #fff;
  }

  &__btn {
    border-radius: 8px;
    padding: 8px 24px;
    width: 115px;
    height: 46px;
    box-shadow: 0 10px 15px 0 rgba(27, 95, 193, 0.19);
    background: var(--blue);
  }
}
