@use "../../scss/mixins/breakpoint";

.info {
  height: 384px;

  &__container {
    display: flex;
    transform: translate(0%, 15%);

    @include breakpoint.tablet {
      flex-direction: column;
      transform: translate(0%, 5%);
    }
  }

  // &__container {
  //   display: flex;

  //   @include tablet {
  //     flex-direction: column;
  //   }
  // }

  &__box3,
  &__link-box {
    display: flex;

    @include breakpoint.mobile {
      flex-direction: column;
    }
  }

  &__image {
    width: 570px;

    @include breakpoint.tablet {
      width: 100%;
      height: 616px;
    }
  }

  &__box1 {
    position: relative;
    max-width: 570px;

    @include breakpoint.tablet {
      margin-bottom: 20px;
      max-width: 708px;
    }
  }

  &__box2 {
    @include breakpoint.tablet {
      width: 708px;
    }
  }

  &__1 {
    position: absolute;
    right: 0;
    top: 284px;
    padding: 60px 30px 80px;
    width: 285px;

    // height: 332px;
    background-color: var(--blue);

    @include breakpoint.mobile {
      top: 0;
      padding: 20px;
      width: 335px;
    }
  }

  &__text1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--light-color);
  }

  &__2 {
    padding: 80px 30px 132px;
    width: 285px;
    height: 100%;
    background-color: var(--light-color);

    @include breakpoint.tablet {
      padding: 30px;
      width: 354px;
    }

    @include breakpoint.mobile {
      max-width: 335px;
    }
  }

  &__text2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--grey);
  }

  &__3 {
    border-radius: 0 20px 0 0;
    padding: 80px 30px 132px;
    width: 285px;
    height: 100%;
    background-color: var(--blue);

    @include breakpoint.tablet {
      border-radius: 0;
      padding: 30px;
      width: 354px;
    }

    @include breakpoint.mobile {
      max-width: 335px;
    }
  }

  &__4 {
    border-radius: 0 0 20px;
    padding: 45px 40px 45px 38px;
    width: 570px;
    min-height: 284px;
    background-color: var(--accent);

    @include breakpoint.tablet {
      border-radius: 0;
      width: 708px;
    }

    @include breakpoint.mobile {
      padding: 20px;
      max-width: 335px;
    }
  }

  &__4tittle {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 250%;
    color: var(--dark);

    @include breakpoint.mobile {
      line-height: 150%;
    }
  }

  &__text4 {
    margin-bottom: 26px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #000;
  }

  &__link {
    margin-right: 40px;
    border: 1px solid var(--blue);
    border-radius: 8px;
    padding: 8px 22px;
    width: 125px;
    height: 46px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 214%;
    text-align: center;
    color: var(--blue);
    background-color: transparent;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #fff;
      background-color: var(--blue);
    }

    @include breakpoint.mobile {
      margin-right: 0;
      margin-bottom: 20px;
      padding: 8px auto;
      width: 185px;
    }
  }

  &__line {
    margin-right: 40px;
    border: 1px solid var(--light-color);
    width: 1px;
    height: 46px;
    background-color: var(--light-color);

    @include breakpoint.mobile {
      display: none;
    }
  }

  &__contact-box {
    display: flex;
  }

  &__contact {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    color: var(--blue);
  }

  &__tel {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #000;
  }

  &__img {
    margin-right: 13px;
  }

  &__link-box {
    align-items: center;
  }
}
