@use "../../scss/mixins/breakpoint";

.reas {
  background-color: #f7fdfb;
  padding-bottom: 394px;
  border-radius: 0 0 0 150px;

  @include breakpoint.mobile {
    padding-bottom: 760px;
    border-radius: 0 0 0 0;
  }
  &__block {
    display: flex;
    gap: 90px;

    @include breakpoint.tablet {
      gap: 0;
    }
  }
  &__img-box {
    @include breakpoint.tablet {
      display: none;
    }
  }
  &__box {
    max-width: 650px;

    @include breakpoint.tablet {
      max-width: 708px;
    }
  }
  &__advan {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 26px;
    @include breakpoint.tablet {
      gap: 30px 35px;
    }
  }
  &__box1 {
    display: flex;
    max-width: 312px;

    @include breakpoint.tablet {
      max-width: 335px;
    }
  }
  &__tittle {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 104%;
    color: var(--dark);
    margin-bottom: 26px;

    @include breakpoint.tablet {
      font-size: 32px;
      margin-bottom: 20px;
    }
  }
  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: var(--grey);
    margin-bottom: 35px;
  }

  &__ellipse {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 56px;
    height: 56px;
    margin-right: 18px;
    border-radius: 100%;
    background-color: var(--blue);
  }
  &__box-tittle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: var(--dark);
    margin-bottom: 9px;
  }
  &__box-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 147%;
    color: var(--grey);
  }
}
