.rev {
  height: 192px;

  &__list {
    display: flex;
    justify-content: space-between;
    transform: translate(0%, -80%);
  }

  &__item {
    width: 370px;
    padding: 60px 40px;
    max-width: 370px;
    background: white;
    border: 1px solid rgba(146, 134, 135, 0.1);
    box-shadow: 0 9.04932px 26.5717px #d7e4f940;
    border-radius: 15px 15px 15px 0;
  }
  &__text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    color: var(--dark);
    margin-bottom: 30px;
  }
  &__box {
    display: flex;
    align-items: center;
  }
  &__img {
    margin-right: 20px;
  }
  &__subject {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: var(--dark);
  }
  &__proff {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: var(--grey);
  }
}
