<section class="advan">
  <div class="container">
    <h2 class="visually-hidden">Advantes</h2>
    <ul class="advan__list">
      <li class="advan__item">
        <div class="advan__box-svg">
          <svg class="advan__svg" width="40" height="40">
            <use href="img/svg/sprite.svg#box"></use>
          </svg>
        </div>
        <div class="advan__box">
          <h3 class="advan__tittle">Full-Service <br> Shipping</h3>
          <p class="advan__text">From picking to custom-crating to domestic and international shipping, we handle it all
            for you.
          </p>
        </div>
      </li>
      <li class="advan__item">
        <div class="advan__box-svg">
          <svg class="advan__svg" width="40" height="40">
            <use href="img/svg/sprite.svg#checked"></use>
          </svg>
        </div>
        <div class="advan__box">
          <h3 class="advan__tittle">Multi-Point Inspection</h3>
          <p class="advan__text">To ensure quality, our team of HTM professionals fully assess and evaluate all
            equipment.
          </p>
        </div>
      </li>
      <li class="advan__item">
        <div class="advan__box-svg">
          <svg class="advan__svg" width="40" height="40">
            <use href="img/svg/sprite.svg#man"></use>
          </svg>
        </div>
        <div class="advan__box">
          <h3 class="advan__tittle">Professional Product Support</h3>
          <p class="advan__text">If you have any questions about the equipment, our product specialists are here to
            help.
          </p>
        </div>
      </li>
      <li class="advan__item">
        <div class="advan__box-svg">
          <svg class="advan__svg" width="40" height="40">
            <use href="img/svg/sprite.svg#cards"></use>
          </svg>
        </div>
        <div class="advan__box">
          <h3 class="advan__tittle">Secure and Easy Payment Methods</h3>
          <p class="advan__text">Pay your way, whether by credit card, PayPal or the redemption of earned credits.</p>
        </div>
      </li>
    </ul>
  </div>
</section>