<section class="certif">
  <div class="container certif__container">
    <p class="certif__text">Our Lab Certification</p>
    <div class="certif__line"></div>
    <picture>
      <source srcset="img/fda.webp" type="image/webp">
      <img loading="lazy" src="img/fda.png" class="certif__img" width="67" height="80" alt="logo">
    </picture>
    <picture>
      <source srcset="img/nelson.webp" type="image/webp">
      <img loading="lazy" src="img/nelson.png" class="certif__img" width="126" height="80" alt="logo">
    </picture>
    <picture>
      <source srcset="img/cnas.webp" type="image/webp">
      <img loading="lazy" src="img/cnas.png" class="certif__img" width="105" height="80" alt="logo">
    </picture>
  </div>
</section>
