<section class="contact">
  <div class="container contact__block">
    <div class="contact__box">
      <picture>
        <source srcset=".webp" type="image/webp">
        <img loading="lazy" src="." class="contact__img" width="26" height="32" alt="location">
      </picture>
      <div>
        <p class="contact__name-1">Address</p>
        <p class="contact__name-2">123 5th Avenue, New York, US</p>
      </div>
    </div>
    <div class="contact__line"></div>
    <div class="contact__box">
      <picture>
        <source srcset=".webp" type="image/webp">
        <img loading="lazy" src="." class="contact__img" width="32" height="32" alt="phone">
      </picture>
      <div class="contact__box-2">
        <p class="contact__name-1">Call Us</p>
        <a class="contact__name-2" href="tel:+1 123 444 5678">+1 123 444 5678</a>
      </div>
    </div>
    <div class="contact__line"></div>
    <div class="contact__box">
      <picture>
        <source srcset=".webp" type="image/webp">
        <img loading="lazy" src="." class="contact__img" width="32" height="23" alt="letter">
      </picture>
      <div class="contact__box-3">
        <p class="contact__name-1">Email Us</p>
        <a class="contact__name-2" href="mailto:info@example.com">info@example.com</a>
      </div>
    </div>
  </div>
</section>
