<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <div>
        <div class="footer__logo">
          <a href="../index.html" class="footer__logo-link">MASK</a>
        </div>
        <p class="footer__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor saepe
          explicabo hic quo nihil tempora amet minus atque sint, quis nam,
          voluptatibus tenetur quisquam placeat dignissimos id officia error
          libero.
        </p>
      </div>
      <div class="footer__net-box">
        <div class="footer__nav-box">
          <h2 class="footer__nav">Company</h2>
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="../index.html" class="footer__nav-link" data-menu-item
                >Home</a
              >
            </li>
            <li class="footer__nav-item">
              <a href="#about" class="footer__nav-link" data-menu-item>About</a>
            </li>
            <li class="footer__nav-item">
              <a href="#product" class="footer__nav-link" data-menu-item
                >Product</a
              >
            </li>
            <li class="footer__nav-item">
              <a href="#contact" class="footer__nav-link" data-menu-item
                >Contact</a
              >
            </li>
            <li class="footer__nav-item">
              <a href="#history" class="footer__nav-link" data-menu-item
                >History</a
              >
            </li>
          </ul>
        </div>
        <div class="footer__network">
          <h2 class="footer__follow">Follow Us</h2>
          <ul class="footer__network-list">
            <li class="footer__network-item">
              <a
                href="https://www.instagram.com"
                target="_blank"
                class="footer__network-name"
                >Facebook</a
              >
            </li>
            <li class="footer__network-item">
              <a
                href="https://www.twitter.com"
                target="_blank"
                class="footer__network-name"
                >Twitter</a
              >
            </li>
            <li class="footer__network-item">
              <a
                href="https://www.google.com"
                target="_blank"
                class="footer__network-name"
                >Google +</a
              >
            </li>
            <li class="footer__network-item">
              <a
                href="https://www.youtube.com"
                target="_blank"
                class="footer__network-name"
                >YouTube</a
              >
            </li>
            <li class="footer__network-item">
              <a
                href="https://www.Linkedin.com"
                target="_blank"
                class="footer__network-name"
                >Linkedin</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__box-1">
      <p class="footer__text">Copyright</p>
      <div class="footer__span"></div>
      <p class="footer__text">2020 №95</p>
    </div>
  </div>
</footer>
