<header class="header">
  <div class="container header__cont">
    <div class="header__logo-block">
      <a href="../index.html" class="header__logo">MASK</a>
    </div>
    <nav class="header__nav-block" title="Главное меню" data-menu>
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="../index.html" class="header__nav-link" data-menu-item>Home</a>
        </li>
        <li class="header__nav-item">
          <a href="#about" class="header__nav-link" data-menu-item>About</a>
        </li>
        <li class="header__nav-item">
          <a href="#product" class="header__nav-link" data-menu-item>Product</a>
        </li>
        <li class="header__nav-item">
          <a href="#contact" class="header__nav-link" data-menu-item>Contact</a>
        </li>
        <li class="header__nav-item">
          <a href="#history" class="header__nav-link" data-menu-item>History</a>
        </li>
      </ul>
      <a class="header__btn header__btn-link" href="#contact" data-menu-item>Contact us</a>
    </nav>
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
