<header class="header">
  <div class="container header__cont">
    <div class="header__logo-block">
      <a href="../index.html" class="header__logo">MASK</a>
    </div>
    <nav class="header__nav-block" title="Главное меню">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="../index.html" class="header__nav-link" data-scroll>Home</a>
        </li>
        <li class="header__nav-item">
          <a href="" class="header__nav-link" data-scroll>About</a>
        </li>
        <li class="header__nav-item">
          <a href="" class="header__nav-link" data-scroll>Product</a>
        </li>
        <li class="header__nav-item">
          <a href="#contact" class="header__nav-link" data-scroll>Contact</a>
        </li>
        <li class="header__nav-item">
          <a href="" class="header__nav-link" data-scroll>History</a>
        </li>
      </ul>
      <a class="header__btn header__btn-link" href="#contact">Contact us</a>
    </nav>
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>

    <div class="header__mob-cont" data-menu>
      <nav class="header__mob-block">
        <button class="header__menu-close" type="button" js-close-menu>
          <svg class="header__close-svg" width="28" height="28">
            <use href="../img/svg/sptite.svg#mob-menu-close"></use>
          </svg>
        </button>
        <ul class="header__mob-list">
          <li class="header__mob-item">
            <a href="../index.html" class="header__mob-link">Home</a>
          </li>
          <li class="header__mob-item">
            <a href="" class="header__mob-link">About</a>
          </li>
          <li class="header__mob-item">
            <a href="" class="header__mob-link">Product</a>
          </li>
          <li class="header__mob-item">
            <a href="#contact" class="header__mob-link" data-scroll>Contact</a>
          </li>
          <li class="header__mob-item">
            <a href="" class="header__mob-link">History</a>
          </li>
        </ul>
        <a class="header__btn-mob header__btn-link-mob" href="#contact">Contact us</a>
      </nav>
    </div>
  </div>
</header>
