<section class="hero">
  <div class="container hero__box">
    <div class="hero__content">
      <p class="hero__name">3M N95 masks</p>
      <h2 class="hero__tittle">Protective Face Masks</h2>
      <p class="hero__text">We offer the fast delivery wholesale selection of N95 masks and surgical masks, featuring
        FDA-approved
        quality and 2 – 5 days delivery, our wholesale face masks are ideal for influenza or novel coronavirus
        prevention.
      </p>
      <a href="#shop" class="hero__link hero__btn" data-scroll>Shop now</a>
      <a href="#learn" class="hero__linktwo hero__btntwo" data-scroll>Learn more</a>
    </div>
    <picture>
      <source srcset="img/herofoto.webp" type="image/webp">
      <img loading="lazy" src="./img/herofoto.jpg" class="hero__img" width="496" height="744" alt="woman">
    </picture>
  </div>
</section>
