<section class="info">
  <div class="container info__container">
    <h2 class="visually-hidden">Info</h2>
    <div class="info__box1">
      <picture>
        <source srcset="img/mask-group.webp" type="image/webp">
        <img loading="lazy" src="img/mask-group.jpg" class="info__image" width="570" height="616" alt="mask factory">
      </picture>
      <div class="info__1">
        <p class="info__text1">Given the praised reputation and reliable quality within the industry, we have also
          established preliminary business
          agreements with some hospitals, local governments and medical institutions in Guangdong Province.</p>
      </div>
    </div>
    <div class="info__box2">
      <div class="info__box3">
        <div class="info__2">
          <p class="info__text2">After years of development, Health Pro has reached stable long-term cooperation with
            many
            hospitals and medical
            institutions in Hong Kong.</p>
        </div>
        <div class="info__3">
          <p class="info__text1">We are keenly looking forward to expand our market in Mainland China and overseas in
            the
            future, as we have strong
            beliefs in our products.
          </p>
        </div>
      </div>
      <div class="info__4">
        <h2 class="info__4tittle">Proudly Made in Hong Kong</h3>
          <p class="info__text4">Our factory is located in Hong Kong.<br> Equipped with machines and assembly line of
            the
            best
            quality on the market to ensure quality control.</p>
          <div class="info__link-box">
            <a href="#learn" class="info__link info__btn" data-scroll>Learn more</a>
            <div class="info__line"></div>
            <picture>
              <source srcset="img/phone.webp" type="image/webp">
              <img loading="lazy" src="img/phone.jpg" class="info__img" width="46" height="46" alt="phone">
            </picture>
            <div>
              <p class="info__contact">Contact us</p>
              <a class="info__tel" href="tel:+1 123 444 5678">+1 123 444 5678</a>
            </div>

          </div>

      </div>
    </div>

  </div>


</section>
