<section class="reas" id="product">
  <div class="container reas__block">
    <picture class="reas__img-box">
      <source srcset="img/mask.webp" type="image/webp">
      <img loading="lazy" src="img/mask.jpg" class="reas__img" width="400" height="630" alt="foto mask">
    </picture>
    <div class="reas__box">
      <h2 class="reas__tittle">Reasons To Choose Our Products</h2>
      <p class="reas__text">All products of Health Pro have obtained the certifications issued by national specialized
        agencies and testing
        laboratories. They have also passed the quality inspection of several international famous testing institutions.
        We have
        absolute confidence that every product of Health Pro is a of the top quality.</p>
      <div class="reas__advan">
        <div class="reas__box1">
          <div class="reas__ellipse">
            <picture>
              <source srcset="img/cup.webp" type="image/webp">
              <img loading="lazy" src="img/cup.png" class="reas__img" width="26" height="24" alt="cup">
            </picture>
          </div>
          <div>
            <h3 class="reas__box-tittle">Industry leader</h3>
            <p class="reas__box-text">If you have any questions about the equipment, our product specialists are here to
              help, specialists are
              here.</p>
          </div>
        </div>

        <div class="reas__box1">
          <div class="reas__ellipse">
            <picture>
              <source srcset="img/graph.webp" type="image/webp">
              <img loading="lazy" src="img/graph.png" class="reas__img" width="28" height="19" alt="cup">
            </picture>
          </div>
          <div>
            <h3 class="reas__box-tittle">Innovation 3 led development</h3>
            <p class="reas__box-text">If you have any questions about the equipment, our product specialists are here to
              help.</p>
          </div>
        </div>

        <div class="reas__box1">
          <div class="reas__ellipse">
            <picture>
              <source srcset="img/save.webp" type="image/webp">
              <img loading="lazy" src="img/save.png" class="reas__img" width="22" height="24" alt="cup">
            </picture>
          </div>
          <div>
            <h3 class="reas__box-tittle">To create a safer tomorrow for all</h3>
            <p class="reas__box-text">If you have any questions about the equipment, our product specialists are here to
              help.</p>
          </div>
        </div>

        <div class="reas__box1">
          <div class="reas__ellipse">
            <picture>
              <source srcset="img/friends.webp" type="image/webp">
              <img loading="lazy" src="img/friends.png" class="reas__img" width="28" height="20" alt="cup">
            </picture>
          </div>
          <div>
            <h3 class="reas__box-tittle">To protect and to improve living quality for all</h3>
            <p class="reas__box-text">If your have any questions about the equipment, our product specialists are here
              to
              help.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>