<section class="rev">
  <div class="container">
    <ul class="rev__list">
      <li class="rev__item">
        <div class="rev__star-box">
          <picture>
            <source srcset="img/star.webp" type="image/webp">
            <img loading="lazy" src="img/star.png" class="image" width="22" height="22" alt="star">
          </picture>
          <picture>
            <source srcset="img/star.webp" type="image/webp">
            <img loading="lazy" src="img/star.png" class="image" width="22" height="22" alt="star">
          </picture>
          <picture>
            <source srcset="img/star.webp" type="image/webp">
            <img loading="lazy" src="img/star.png" class="image" width="22" height="22" alt="star">
          </picture>
          <picture>
            <source srcset="img/star.webp" type="image/webp">
            <img loading="lazy" src="img/star.png" class="image" width="22" height="22" alt="star">
          </picture>
          <picture>
            <source srcset="img/star.webp" type="image/webp">
            <img loading="lazy" src="img/star.png" class="image" width="22" height="22" alt="star">
          </picture>
        </div>
        <p class="rev__text">
          " Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque odit enim doloribus suscipit provident
          perspiciatis nulla. Eligendi nemo facere magni ipsa? Debitis quam nesciunt omnis libero! Consectetur voluptas
          quas qui!"
        </p>
        <div class="rev__box">
          <picture>
            <source srcset="img/maria.webp" type="image/webp">
            <img loading="lazy" src="img/maria.png" class="rev__img" width="70" height="70" alt="foto">
          </picture>
          <div>
            <h3 class="rev__subject">MARIA EVE</h3>
            <p class="rev__proff">Lawyer</p>
          </div>
        </div>


      </li>
      <li class="rev__item rev__two">
        <div class="rev__star-box">
          <picture>
            <source srcset="img/star.webp" type="image/webp">
            <img loading="lazy" src="img/star.png" class="image" width="22" height="22" alt="star">
          </picture>
          <picture>
            <source srcset="img/star.webp" type="image/webp">
            <img loading="lazy" src="img/star.png" class="image" width="22" height="22" alt="star">
          </picture>
          <picture>
            <source srcset="img/star.webp" type="image/webp">
            <img loading="lazy" src="img/star.png" class="image" width="22" height="22" alt="star">
          </picture>
          <picture>
            <source srcset="img/star.webp" type="image/webp">
            <img loading="lazy" src="img/star.png" class="image" width="22" height="22" alt="star">
          </picture>
          <picture>
            <source srcset="img/star.webp" type="image/webp">
            <img loading="lazy" src="img/star.png" class="image" width="22" height="22" alt="star">
          </picture>
        </div>
        <p class="rev__text">
          " Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque odit enim doloribus suscipit provident
          perspiciatis nulla. Eligendi nemo facere magni ipsa? Debitis quam nesciunt omnis libero! Consectetur voluptas
          quas qui!"
        </p>
        <div class="rev__box">
          <picture>
            <source srcset="img/liam.webp" type="image/webp">
            <img loading="lazy" src="img/liam.png" class="rev__img" width="70" height="70" alt="foto">
          </picture>
          <div>
            <h3 class="rev__subject">LIAM BOWER</h3>
            <p class="rev__proff">Mechanic</p>
          </div>
        </div>


      </li>
      <li class="rev__item rev__item-del">
        <div class="rev__star-box">
          <picture>
            <source srcset="img/star.webp" type="image/webp">
            <img loading="lazy" src="img/star.png" class="image" width="22" height="22" alt="star">
          </picture>
          <picture>
            <source srcset="img/star.webp" type="image/webp">
            <img loading="lazy" src="img/star.png" class="image" width="22" height="22" alt="star">
          </picture>
          <picture>
            <source srcset="img/star.webp" type="image/webp">
            <img loading="lazy" src="img/star.png" class="image" width="22" height="22" alt="star">
          </picture>
          <picture>
            <source srcset="img/star.webp" type="image/webp">
            <img loading="lazy" src="img/star.png" class="image" width="22" height="22" alt="star">
          </picture>
          <picture>
            <source srcset="img/star.webp" type="image/webp">
            <img loading="lazy" src="img/star.png" class="image" width="22" height="22" alt="star">
          </picture>
        </div>
        <p class="rev__text">
          " Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque odit enim doloribus suscipit provident
          perspiciatis nulla. Eligendi nemo facere magni ipsa? Debitis quam nesciunt omnis libero! Consectetur voluptas
          quas qui!"
        </p>
        <div class="rev__box">
          <picture>
            <source srcset="img/nicky.webp" type="image/webp">
            <img loading="lazy" src="img/nicky.png" class="rev__img" width="70" height="70" alt="foto">
          </picture>
          <div>
            <h3 class="rev__subject">NICKY</h3>
            <p class="rev__proff">Dancer</p>
          </div>
        </div>


      </li>
    </ul>
  </div>
</section>
